extends layout.pug

block content
	include form-error
	form(action=`/book/${book.id}` method='post')
		p
			label Title
				input(type='text', name='title', id='title', value=book.title)
		p
			label Author
				input(type='text', name='author', id='author', value=book.author)
		p
			label Genre
				input(type='text', name='genre', id='genre', value=book.genre)
		p
			label Year
				input(type='text', name='year', id='year', value=book.year)
		p
			input(type="submit", value="Update Book")
		p
			a(class='button' href='/') Cancel

	form(action=`/book/${book.id}/delete`, method='post')
		p 
			input(type='submit', value='Delete Book')